@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 768px) 
and (-webkit-min-device-pixel-ratio: 2) {

    /* NAV */

    nav {
        height: 100px;
        line-height: 100px;
        padding: 0 5%;
    }

    .nav-logo {
        float: initial;
        margin: 0 auto;
    }

    .nav-container {
        display: none;
    }


    /* HEADER */

    .head {
        height: 220px;
    }

    .slick-prev,
    .slick-next {
        width: auto;
        height: auto;
    }

    .slick-next:before,
    .slick-prev:before {
        font-size: 20px;
    }

    .slick-prev {
        left: 5%;
    }

    .slick-next {
        right: 5%;
    }

    /* MAIN */

    main {
        padding: 10% 5%;
    }

    /* SECTION */

    section {
        margin: 0 0 10% 0;
    }

    .section-title {
        margin: 0 0 5% 0;
        font-size: 24px;
        text-align: center;
    }

    .section-description {
        font-size: 12px;
        text-align: center;
    }

    .section-content {
        margin: 5% 0 0 0;
    }
    
    /* FOOTER */
    
    .footer-primary {
        display: block;
        height: auto;
        padding: 10% 5%;
    }
    
    .info-container {
        width: 50%;
        margin: 0 0 10% 0;
    }
    
    .info-container:nth-child(3) {
        width: 50%;
    }
    
    .info-container:last-child {
        width: 100%;
        margin: 0;
    }
    
    .info-container-web {
        display: none;
    }
    
    .info-container-mobile {
        display: block;
    }
    
    .info-label {
        width: 100%;
        padding: 0;
        margin: 0 0 25px 0;
        font-size: 10px;
        text-align: left;
    }
    
    .info-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 3% 0;
        font-size: 10px;
    }
    
    .info-link i {
        width: 15px;
        margin: 0 5px 0 0;
    }
    
    .social-badge {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .info-link-social {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
    
    .footer-copyright {
        padding: 3% 5%;
        height: auto;
    }
    
    .footer-rc {
        width: 50%;
    }
    
    .rc-label {
        font-size: 10px;
    }
    
    .rc-brand {
        position: relative;
        display: block;
        float: left;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }
    
    .rc-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 50px;
        margin: 0 5% 0 0;
    }
    
    .rc-logo svg {
        width: 100%;
    }
    
    .footer-icons {
        justify-content: flex-end;
        width: 50%;
        height: 50px;
    }
    
    .footer-icons img {
        width: 20px;
    }
        
}